<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Michael Bessey" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="../styles/app.css" />
    <script type="text/javascript" src="../scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
    
</head>
<body>
    <div id="page">
        <header id="main-header">
            <h1><a href="/">MSB Web Application</a></h1>
        </header>
        <nav id="main-nav">
            <ul>
                <li class="current-tab">
                    <a href="/information">Information</a>
                </li>
                <li>
                    <a href="/contact">Contact Me</a>
                </li>
            </ul>
        </nav>
        <section id="main-section" class="clearfix">{% block content %}{% endblock %}</section>
        <aside></aside>
        <footer id="main-footer">
            <p>Copyright &copy; 2010. All Rights Reserved.</p>
        </footer>
    </div>
</body>