{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="sub-section">

		<p>An unexpected error occurred in an otherwise perfect web application.</p>

	</section>
{% endblock %}