{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section id="home-section">

	<header id="section-header">
		<h2>Welcome</h2>
	</header>

	</section>
{% endblock %}