{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section id="home-section">

    	<header id="section-header">
			<h2>Information</h2>
		</header>

    	<article>

			<p>Information Article</p>
		</article>

	</section>
{% endblock %}